html {
    font-size: 14px;
}

body {
    color: #404040;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.7rem;
}

.hr-underline {
    width: 140px;
    margin: 10px auto 60px auto;
    background-color: #309954;
}

.trial-button {
    padding: 5px 23px;
    color: #fff;
    background-color: #00c748;
    border-radius: initial;    
}

/* Override stle navbar - Begin */
.page-header .nav-item:nth-last-child(2) .nav-link {
    border: none;
}

.page-header .navbar-custom .nav-link {
    color: #404040;
}

.page-header .navbar-custom .nav-link:hover {
    color: #00c748;
}

.page-header .carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
/* Override stle navbar - End */

.page-header .carousel-custom {
    border-top: 2px solid #26a264;
}

.page-header .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .25);
}

.page-header .carousel-content {
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.page-header .login-form {
    max-width: 270px;
    background-color: #fff;
    padding: 15px 15px 25px 15px;
    border-radius: 3px;
}

.page-header .btn-signin {
    color: #fff;
    background-color: #00c748;
    border-radius: initial;  
}

.page-header .login-form-title,
.page-header .forgot-password {
    color: #00c748;
}

.page-header .caption {
    color: #fff;
}

.page-header .login-form-title {
    margin-bottom: 10px;
}

.page-header .forgot-password {
    display: block;
    text-decoration: underline;
    margin-bottom: 25px
}

.promotion {
    padding-top: 30px;
    padding-bottom: 50px;
}

.promotion .hr-underline {
    margin-bottom: 40px;
}

.promotion .circle-outline,
.promotion .circle-inline {
    border-radius: 100%;
    text-align: center;
    color: #fff;
}

.promotion .circle-outline {
    height: 130px;
    width: 130px;
    font-size: 0;
    border: 2px solid #309954;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
}

.promotion .circle-inline {
    display: inline-block;
    height: 110px;
    width: 110px;
    line-height: 110px;
    background-color: #00d248;
    font-size: 30px;
}

.promotion .promotion-info {
    font-size: 1.1rem;
}

.trial-container {
    height: 250px;
    background: url(../images/sub-banner-image-01.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    padding-top: 40px;
}

.trial-container .trial-title {
    margin-bottom: 45px;
}

.blog-container {
    padding-top: 45px;
    padding-bottom: 80px;
}

.blog-container .images-banner {
    width: 100%;
    max-height: 100%;
}

.blog-container a {
    text-decoration: none;
}

.blog-container .blog-main-image {
    width: 100%;
}

.blog-container .blog-title {
    font-size: 1rem;
    color: #04d24c;
}

.blog-container p {
    line-height: 1.2;
    text-align: justify;
    color: #404040;
}

.blog-container .blog-main-item .blog-title {
    margin: 15px 0 5px 0;
}

.blog-container .blog-list .blog-item {
    margin-bottom: 15px;
}

.blog-container .blog-list .media-body p:last-child {
    margin-bottom: 0;
}

footer {
    color: #fff;
    background-color: #04d24c;
}

footer .contact {
    padding: 30px 0;
}

footer .hr-underline {
    margin: 20px auto;
    background-color: #fff;
}

footer .icon-phone {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 1.7rem;
    transform: rotate(-40deg);
    background-color: #fff;
    color: #00c947;
}

footer .copyright {
    height: 40px;
    line-height: 40px;
    background-color: #089338;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
    }

    .page-header .navbar-custom .nav-link {
        border-right: 1px solid #c1c1c1;
        padding: 0 20px;
    }

    .page-header .navbar-nav {
        align-items: center;
    }
}

@media (min-width: 768px) {
    footer .contact-item:not(:last-child) {
        margin-right: 70px;
    }
    
    .page-header .carousel-content {
        display: flex !important;
    }
}

@media (max-width: 768px) {
    footer .contact-item:not(:last-child) {
        margin-bottom: 20px;
    }
}